<div class="albums-container">
  <ul id="sortable" class="list-unstyled albums">
    <li class="album">
      <img src="http://img00.cdn2-rdio.com/album/7/1/8/0000000000123817/square-200.jpg" width="100%">
      <div class="top-function functions">
        <a href="/search/1"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="http://rdio3img-a.akamaihd.net/album/5/6/9/0000000000353965/1/square-200.jpg" width="100%">
      <div class="top-function functions">
        <a href="/search/2"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="http://img00.cdn2-rdio.com/album/1/d/f/00000000003dcfd1/3/square-200.jpg" width="100%">
      <div class="top-function functions">
        <a href="/search/3"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="http://img02.cdn2-rdio.com/album/c/4/9/000000000004d94c/square-200.jpg" width="100%">
      <div class="top-function functions">
        <a href="/search/4"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
    <li class="album">
      <img src="http://img00.cdn2-rdio.com/album/a/b/1/00000000000381ba/2/square-200.jpg" width="100%">
      <div class="top-function functions">
        <a href="/search/5"><span class="glyphicon glyphicon-search"></span></a>
      </div>
      <div class="bottom-function functions">
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </li>
  </ul>
        <span class="positions">
          <i>1</i>
          <i>2</i>
          <i>3</i>
          <i>4</i>
          <i>5</i>
        </span>
  <a href="#" class="action">SAVE</a>
</div>