<% provide(:body_class, 'sign-in') %>

<div class="container">
  <div class="box">
    <div class="single-column">
      <h1 class="brand inverse small"><span>TOP</span> <span>5</span> <span>ALBUMS</span></h1>
      <%= render 'form' %>
      <p class="text-muted text-center h4" style="margin-top: 3em">Not Registered?</p>
      <p class="text-center h4"><a href="/register">Register Here</a>.</p>
    </div>
  </div>
</div>