<%= form_for 'search', remote: true, html: {class: 'form-horizontal search-form'} do |f| %>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <div class="col-sm-8">
          <% if params[:search]
               value = params[:search][:keywords]
             end %>
          <%= f.text_field :keywords, class: "form-control input-lg", value: value,  placeholder: "Enter artist or album name" %>
        </div>
        <div class="col-sm-4">
          <%= button_tag "Search", data: { disable_with: "Wait..." }, class: 'btn btn-primary btn-block btn-lg search-button' %>
        </div>
      </div>
    </div>
<% end %>