<ul><% @albums.each do |album| %>
    <% tracks = album.tracks %>
    <li class="media list-unstyled">
      <div class="media-left">
          <%= image_tag(album.images.first['url'], width: '100px') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= album.name %></h4>
        <p class="text-muted"><%= album.release_date %></p>
        <h5>Tracks:</h5>
        <ul class="list-unstyled">
          <% tracks.each do |track| %>
              <li><%= track.name %></li>
          <% end %>
        </ul>
      </div>
      <hr>
    </li>
<% end %>
</ul>