<div class="container">
  <div class="box">

    <div class="row text-center">
      <h1 class="page-heading">Search for albums</h1>

      <%= render 'form' %>

    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <% if params[:search] %>
        <p class="h4 text-center">Searching for <%= params[:search][:keywords] %>, <%= pluralize(@albums.count, 'album') %> found</p>
        <% end %>
        <hr>
        <div class="results"></div>
      </div>
    </div>

  </div>

</div>