<% provide(:body_class, 'edit-user') %>

<div class="container">
  <div class="box">
    <div class="single-column text-center">
      <h1 class="brand inverse small"><span>TOP</span> <span>5</span> <span>ALBUMS</span></h1>

      <h2 class="form-signin-heading">Edit account</h2>

      <%= render 'form' %>

      <p class="text-center"><%= link_to 'Show', @user %></p>
    </div>
  </div>
</div>
