<% provide(:body_class, 'register') %>

<div class="container">
  <div class="box">
    <div class="single-column text-center">
      <h1 class="brand inverse small"><span>TOP</span> <span>5</span> <span>ALBUMS</span></h1>

      <h2 class="form-signin-heading">Create an account</h2>


      <%= render 'form' %>

      <p class="text-muted text-center h4" style="margin-top: 3em">Already Registered?</p>

      <p class="text-center h4"><a href="/sign-in">Sign In Here</a>.</p>
    </div>
  </div>
</div>