$albums-brand-color: #ff6862;
$brand-primary: $albums-brand-color;
$albums-background-color: #ffd0b0;
$albums-header-color: #B32020;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: $albums-header-color;}

a {
  color: $albums-brand-color;

  &:hover {
    color: darken($albums-brand-color, 10%);
  }

  &:visited {
    color: $albums-brand-color;
  }
}

.page-heading {
  padding: 1em 0;
}

hr {border-top: 1px solid darken($albums-background-color, 8%);}

.position-links {
  a.btn {
    &:visited {
      color: $albums-background-color;
    }
  }
}
