body.top5 {
  background: image_url('background.png') 50% 50% transparent;
}
.form-album {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.albums-container {

  $album-width: 200px;
  $album-height: 200px;
  $album-columns: 2;
  $album-rows: 3;

  width: $album-width * $album-columns;
  height: $album-height * $album-rows;

  margin: 0 auto;
  position: relative;

  #sortable {

    width: $album-width * $album-columns;
    height: $album-height * $album-rows;

    .album {
      background-image: image_url('albums-placeholders-generic.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-color: lighten($albums-background-color, 15%);

      width: $album-width - 10;
      height: $album-height - 10;

      float: left;

      position: relative;
      overflow: hidden;

      padding: 8px;
      box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
      margin: 5px;

      transition: transform .15s ease-in-out;

      &.no_album {
        img {
          display: none;
        }
      }
      &.has_album {
        img {
          display: block;
        }
      }

      &:hover {cursor: move;}

      &:nth-child(1) {
        width: ($album-width * 2) - 10;
        height: ($album-height * 2) - 10;
        transform: rotateZ(-1deg);
        background-image: image_url('albums-placeholders-add.png');
      }

      &:nth-child(2) {
        transform: rotateZ(-4deg);
      }

      &:nth-child(3) {
        transform: rotateZ(2deg);
      }

      &:nth-child(4) {
        transform: rotateZ(-2deg);
      }

      &:nth-child(5) {
        transform: rotateZ(3deg);
      }

      &.ghost {
        background: lighten($albums-background-color, 2%);
        border: 1px dashed $brand-danger;

        img {opacity: 0.4;}
      }
    }

  }

}

.album-positions {

  i {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    font-style: normal;
    font-size: 16px;
    font-family: 'hotel-open';
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    background: white;
    box-shadow: -2px 4px 0 -3px, -3px 5px 5px rgba(0,0,0,0.4), -1px 2px 0 1px rgba(0, 0, 0, 0.2) inset;
    text-shadow: -2px 2px 0 rgba(0,0,0,0.3);
  }

  @mixin gradient-positions($func) {
    border-color: $func;
    color: darken($func, 10%);
  }

  i:nth-child(1) {
    width: 50px;
    height: 50px;
    line-height: 40px;
    top: -10px;
    left: 180px;
    font-size: 38px;
    border-width: 5px;
    @include gradient-positions(mix($brand-danger, $brand-success, 100%));
  }
  i:nth-child(2) {
    top: 400px;
    left: 85px;
    @include gradient-positions(mix($brand-danger, $brand-success, 75%));
  }
  i:nth-child(3) {
    top: 400px;
    left: 285px;
    @include gradient-positions(mix($brand-danger, $brand-success, 50%));
  }
  i:nth-child(4) {
    top: 600px;
    left: 85px;
    @include gradient-positions(mix($brand-danger, $brand-success, 25%));
  }
  i:nth-child(5) {
    top: 600px;
    left: 285px;
    @include gradient-positions(mix($brand-danger, $brand-success, 0%));
  }
}

.album-functions {
  position: absolute;
  left: 45px;
  bottom: -50px;

  width: 100px;
  height: 50px;

  opacity: .1;

  transition: transform .2s ease-in-out;

  a {
    width: 50px;
    height: 50px;
    background-color: white;
    display: block;
    text-align: center;
    line-height: 50px;
    float: left;
  }

  .search-function {
    border-radius: 5px 0 0 5px;
    background-color: $brand-primary;
    color: $albums-background-color;

    &:hover {
      background-color: darken($brand-primary, 10%);
    }
  }

  .delete-function {
    border-radius: 0 5px 5px 0;
    background-color: $brand-danger;
    color: $albums-background-color;

    &:hover {
      background-color: darken($brand-danger, 10%);
    }
  }
}
.album-functions.has-one {
  left: 70px;
  .search-function {border-radius: 5px}
}
.album {
  &:hover {
    .album-functions {
      opacity: 0.9;
      transform: translate3d(0,-70px,0);
      //bottom: 20px;
    }
  }
}
.album:nth-child(1) {
  .album-functions {
    left: 155px;
  }

  .album-functions.has-one {
    left: 170px;
    .search-function {border-radius: 5px}
  }
}
