// Place all the styles related to the AlbumCollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-album {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.albums-container {

  $album-width: 200px;
  $album-height: 200px;
  $album-columns: 2;
  $album-rows: 3;

  width: $album-width * $album-columns;
  height: $album-height * $album-rows;

  margin: 0 auto;
  position: relative;

  #sortable {

    width: $album-width * $album-columns;
    height: $album-height * $album-rows;

    .album {
      width: $album-width;
      height: $album-height;
      float: left;

      position: relative;
      overflow: hidden;

      .functions {
        position: absolute;
        right: -30px;
        width: 60px;
        height: 60px;

        -webkit-transition: all .08s ease-in-out;
        -moz-transition: all .08s ease-in-out;
        transition: all .08s ease-in-out;

        &.top-function {
          top: 0;

          &:hover {right: 0;}

          a {
            top: 0;
            background-color: #5ca523;
            color: white;

            &:hover {
              background-color: darken(#5ca523,10%);
            }
          }
        }

        &.bottom-function {
          bottom: 0;

          &:hover {right: 0;}

          a {
            bottom: 0;
            background-color: #B00100;
            color: white;

            &:hover {
              background-color: darken(#B00100,10%);
            }
          }
        }

        a {
          width: 30px;
          height: 30px;
          background-color: white;
          display: block;
          text-align: center;
          line-height: 30px;
          float: left;
          position: absolute;
          right: 0;
        }
      }

      &:hover {cursor: move;}
    }

    .ghost {
      box-shadow:
      0 0 5px rgba(0,0,0,0.3) inset,
      0 0 2px rgba(0,0,0,0.3) inset,
      0 0 12px rgba(0,0,0,0.2) inset;
      background-color: darken(whitesmoke, 5%);

      img {opacity: 0.4;}
    }
  }

  .action {
    width: $album-width;
    height: $album-height;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    line-height: $album-height;
    background-color: #5ca523;

    color: #ffffff;
    font-weight: bold;
    font-size: 24px;

    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    &:hover {
      text-decoration: none;
      background-color: lighten(#5ca523, 4%);
    }
  }

  .positions {

    $positions-dims: 20px;
    i {
      position: absolute;

      display: block;
      width: $positions-dims;
      height: $positions-dims;
      text-align: center;
      line-height: $positions-dims;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);

      background-color: whitesmoke;

      color: #5ca523;
      font-style: normal;
      font-size: 10px;
      font-weight: bold;
    }

    i:nth-child(1) { top: 0px; left: 0px; }
    i:nth-child(2) { top: 0px; left: 200px; }
    i:nth-child(3) { top: 200px; left: 0px; }
    i:nth-child(4) { top: 200px; left: 200px; }
    i:nth-child(5) { top: 400px; left: 0px; }
  }
}
