// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours";
.search-result {
  .position-links {
    margin: 0;

    li {
      padding: 0;

      a {
        border-radius: 20px;
      }
    }
  }
}

