// Place all the styles related to the AlbumCollections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours";
body.top5 {
  background: image_url('background.png') 50% 50% transparent;
}
.form-album {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.albums-container {

  $album-width: 200px;
  $album-height: 200px;
  $album-columns: 2;
  $album-rows: 3;

  width: $album-width * $album-columns;
  height: $album-height * $album-rows;

  margin: 0 auto;
  position: relative;

  #sortable {

    width: $album-width * $album-columns;
    height: $album-height * $album-rows;

    .album {
      width: $album-width - 10;
      height: $album-height - 10;

      float: left;

      position: relative;
      overflow: hidden;

      padding: 8px;
      box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
      background: lighten($albums-background-color, 15%);
      margin: 5px;


      .functions {
        position: absolute;
        right: -30px;
        width: 60px;
        height: 60px;

        -webkit-transition: all .08s ease-in-out;
        -moz-transition: all .08s ease-in-out;
        transition: all .08s ease-in-out;

        &.top-function {
          top: 0;

          &:hover {right: 0;}

          a {
            top: 0;
            background-color: $albums-brand-color;
            color: white;

            &:hover {
              background-color: darken($albums-brand-color,10%);
              cursor: pointer;
            }
          }
        }

        &.bottom-function {
          bottom: 0;

          &:hover {right: 0;}

          a {
            bottom: 0;
            background-color: #B00100;
            color: white;

            &:hover {
              background-color: darken(#B00100,10%);
              cursor: pointer;
            }
          }
        }

        a {
          width: 30px;
          height: 30px;
          background-color: white;
          display: block;
          text-align: center;
          line-height: 30px;
          float: left;
          position: absolute;
          right: 0;
        }
      }

      &:hover {cursor: move;}

      &:nth-child(1) {
        width: ($album-width * 2) - 10;
        height: ($album-height * 2) - 10;
      }
    }

    .ghost {
      box-shadow:
      0 0 5px rgba(0,0,0,0.3) inset,
      0 0 2px rgba(0,0,0,0.3) inset,
      0 0 12px rgba(0,0,0,0.2) inset;
      background-color: darken(whitesmoke, 5%);

      img {opacity: 0.4;}
    }
  }

  .action {

    text-decoration: line-through;
    width: $album-width;
    height: $album-height;

    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    line-height: $album-height;
    background-color: $albums-brand-color;

    color: #ffffff;
    font-weight: bold;
    font-size: 24px;

    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;

    display: none;

    &:hover {
      text-decoration: none;
      background-color: lighten($albums-brand-color, 4%);
    }
  }

  .positions {

    $positions-dims: 20px;
    i {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: $albums-header-color;
      color: $albums-background-color;
      font-style: normal;
      font-size: 20px;
      font-family: 'hotel-open';
      border-radius: 50%;
    }

    i:nth-child(1) { top: -10px; left: 180px; }
    i:nth-child(2) { top: 390px; left: 80px; }
    i:nth-child(3) { top: 390px; left: 280px; }
    i:nth-child(4) { top: 590px; left: 80px; }
    i:nth-child(5) { top: 590px; left: 280px; }
  }
}
