body {
  color: #332f29;
  font-family: 'brandon-grotesque';
  font-size: 13px;
  line-height: 18px;
  background: #ffffff;
}

.navbar-default {
  background-color: rgba(0,0,0,0.2);
  border: none;

  .navbar-brand,
  .navbar-nav > li > a {
    color: $albums-background-color;

    &:hover {color: #ffffff}
  }


}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #3D3B69;
  font-family: 'brandon-grotesque';
  font-weight: bold;
  text-transform: uppercase;
}

.page-heading {
  padding: 0 0 0.7em;
}

hr {border-top: 1px solid darken($albums-background-color, 8%);}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.link-block {
  display: block;
  padding: 10px;
  margin: 10px;

  &:hover {
    background-color: darken($albums-background-color, 5%);
    text-decoration: none;
    box-shadow: 0 0 3px darken($albums-brand-color, 15%);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.btn-lg {
  border: none;
  font-weight: bold;
  color: $albums-brand-color;
  padding: 0.7em 2em;
  background-color: $albums-background-color;

  &:visited {color: $albums-brand-color}

  &:hover {
    color: lighten($albums-brand-color, 12%);
    background-color: darken($albums-brand-color, 12%);
  }

  &.btn-primary {
    background-color: $albums-brand-color;
    color: $albums-background-color;

    &:hover {
      background-color: darken($albums-brand-color, 8%);
      color: $albums-background-color;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  input {
    background-color: lighten(#c00, 55%);
  }
}

#error_explanation {
  text-align: left;
  h4 {
    color: #c00;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
