body.title-screen {
  background: black;

  .navbar-static-top {display: none;}
}

.container {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-bottom: 65px;
  table-layout: fixed;
  .single-column {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

// HOME

.brand {
  font-size: 100px;
  font-weight: normal;
  width: 150px;
  height: 150px;
  margin: 16vh auto 15px;
  position: relative;
  zoom: 1.5;
  color: $albums-background-color;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    font-weight: bold;
  }

  span:nth-child(1) {
    font-size: 32px;
    top: 4px;
  }
  span:nth-child(2) {
    top: 22px;
  }
  span:nth-child(3) {
    font-size: 32px;
    top: 115px;
  }

  &.inverse {
    color: $albums-header-color;

    &:before {
      background-color: $albums-background-color;
    }

    span:nth-child(3) {
      color: $albums-header-color;
    }
  }

  &.small {zoom: .5}
}

.brand-action {
  position: relative;
  .btn {
    border: 2px solid $albums-background-color;
    background-color: transparent;
    color: $albums-background-color;

    &:hover {
      background-color: rgba($albums-background-color, 0.2);;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: -200px;
    bottom: 0;
    background-color: black;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      width: 10%;
      height: auto;
      overflow: hidden;
      opacity: .2;

      img {
        padding: 2px;
        width: 100%;
        height: auto;
      }
    }
  }
}
