// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colours";
html, body.title-screen, .wrap {
  height: 100%;
}
body.title-screen {
  background: image_url('background-title-page.png') 50% 50% $albums-brand-color;


  .navbar-static-top {display: none;}
}

.container {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.box {
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  padding-bottom: 65px;
  table-layout: fixed;
  .single-column {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

// HOME

.brand {
  font-size: 100px;
  color: $albums-brand-color;
  font-weight: normal;
  width: 150px;
  height: 210px;
  margin: 70px auto 30px;
  position: relative;
  zoom: 1.5;

  &:before {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background: image_url('background.png') 50% 50% $albums-background-color;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
    top: -15px;
    left: 0;
    box-shadow: 0 0 7px rgba(79, 71, 47, 1) inset, 0 0 26px rgba(64%, 58%, 40%, .3) inset;
  }

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
  }

  span:nth-child(1) {
    font-size: 32px;
    top: 4px;
  }
  span:nth-child(2) {
    top: 22px;
  }
  span:nth-child(3) {
    font-size: 32px;
    color: $albums-background-color;
    bottom: 0;
    top: auto;
  }

  &.inverse {
    color: white;

    &:before {
      background-color: $albums-brand-color;
    }

    span:nth-child(3) {
      color: $albums-brand-color;
    }
  }

  &.small {zoom: .5}
}